
@font-face {
    font-family: 'heebomedium';
    src: url('../fonts/heebo-medium-webfont.eot');
    src: url('../fonts/heebo-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-medium-webfont.woff2') format('woff2'),
    url('../fonts/heebo-medium-webfont.woff') format('woff'),
    url('../fonts/heebo-medium-webfont.ttf') format('truetype'),
    url('../fonts/heebo-medium-webfont.svg#heebomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heebobold';
    src: url('../fonts/heebo-bold-webfont.eot');
    src: url('../fonts/heebo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-bold-webfont.woff2') format('woff2'),
    url('../fonts/heebo-bold-webfont.woff') format('woff'),
    url('../fonts/heebo-bold-webfont.ttf') format('truetype'),
    url('../fonts/heebo-bold-webfont.svg#heebobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heeboregular';
    src: url('../fonts/heebo-regular-webfont.eot');
    src: url('../fonts/heebo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-regular-webfont.woff2') format('woff2'),
    url('../fonts/heebo-regular-webfont.woff') format('woff'),
    url('../fonts/heebo-regular-webfont.ttf') format('truetype'),
    url('../fonts/heebo-regular-webfont.svg#heeboregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
}
header{
    padding-top: 27px;
}
.container{
    max-width: 1032px;
    margin: auto;
}
.d_flex{
    display: flex;
}
.justify_end{
    justify-content: flex-end;
}
.justify_between{
    justify-content: space-between;
}

.align_start{
    align-items: flex-start;
}
header nav ul{
    display: flex;
    list-style: none
}
header nav ul li{
    margin-left: 33px;
    transition: 0.5s;

}
header nav li a{
    font-style: normal;
    font: 20px/29px 'heebomedium';
    text-align: right;
    text-decoration: none;
    color: #000000;
}
.main_baner{
    padding-top: 140px;
    padding-bottom: 71px;
}
.main_baner .container{
    max-width: 855px
}
header nav ul li:hover{
   transform: rotate(360deg);
}
.title{
    font-style: normal;
    font: 44px/60px 'heebobold';
    color: #21243D;
    margin-bottom: 40px;
}
.text{
    max-width: 498px;
    font-style: normal;
    font: 16px/24px 'heeboregular';
    color: #21243D;
    margin-bottom: 38px;
}
.download_link{
    background: #FF6464;
    border-radius: 2px;
    padding: 13px 20px;
    text-decoration: none;
    font-style: normal;
    font: 20px/29px 'heebomedium';
    color: #FFFFFF;
}
.avatar{
    max-width: 243px;
    border-radius: 50%;
    overflow: hidden;
}
.image{
    width: 100%;
    display: block;
}
.works{
    padding-top: 15px;
    padding-bottom: 32px;
}
.feature_works{
    max-width: 855px;
    margin: auto;
}
.bloc{
    padding-top: 30px;
}
.featured{
    font-style: normal;
    font: 22px/60px 'heeboregular';
    color: #21243D;
    margin-bottom: 0px;
}
.title_works{
    font-style: normal;
    font: 30px/44px 'heebobold';
    color: #21243D;
    margin-bottom: 15px;
}
.year{
    font-style: normal;
    font: 18px/60px 'heebobold';
    color: #FFFFFF;
    background: #142850;
    border-radius: 25px;
    padding: 0px 10px;
}
.position{
    font-style: normal;
    font: 20px/29px 'heeboregular';
    color: #8695A4;
    margin-left: 26px;
}
.line{
    border: 1px solid #E0E0E0;
    width: 858px;
}
.last_line{
    margin-bottom: 87px;
}
.content{
    margin-left: 18px;
}
/*Page blog*/
.size_page{
    max-width: 681px;
    margin: auto;
}
.title_blog{
    font-style: normal;
    font: 44px/60px 'heebobold';
    color: #21243D;
    margin-bottom: 55px;
}
.subtitle_blog{
    font-style: normal;
    font: 30px/44px 'heebomedium';
    color: #21243D;
    margin-top: 40px;
}
.blog_blog{
    color: #FF6464;;
}
.blog_page{
    padding-top: 106px;
    padding-bottom: 53px;
}
.line_blog{
    border: 1px solid #E0E0E0;
    width: 681px;
}
.data_blog{
    font-style: normal;
    font: 400 20px/29px 'heeboregular';
    color: #21243D;
    display: inline;
}
.vertical_line{
    display: inline;
    border-right: 1px solid #000000;
    margin: 0px 20px;
}
.position_blog{
    display: inline;
    font-style: normal;
    font: 20px/29px 'heeboregular';
    color: #8695A4;
}
.text_blog{
    font-style: normal;
    font: 16px/24px 'heeboregular';
    color: #21243D;
    margin-bottom: 29px;
}


/*footer*/
footer{
    padding-top: 51px;
    padding-bottom: 54px;
}
.icon{
    justify-content: center;
    list-style: none;
    margin-bottom: 26px;
}
footer ul li{
    margin: 0px 17px;
}
.text_end{
    font-style: normal;
    font: 14px/21px 'heeboregular';
    text-align: center;
    color: #21243D;
}